@value cell-border-width: 1px;
@value cell-border-radius: 0.5em;

.container {
    border-color: #ccc;
    border-style: solid;
    border-top-width: cell-border-width;
    border-bottom-width: cell-border-width;
    background: white;
    box-shadow: 0em 0em 1em rgba(0,0,0,0.1);

    padding: 0.5em 1.25em;
}

.title {
    font-size: .75em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}

.first {
    border-left-width: cell-border-width;
    border-top-left-radius: cell-border-radius;
    border-bottom-left-radius: cell-border-radius;
}

.last {
    border-right-width: cell-border-width;
    border-top-right-radius: cell-border-radius;
    border-bottom-right-radius: cell-border-radius;
}
